body { background: #1934fc; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 27px; display: flex; }
.block-notify-0 { color: #affa15; font-size: 17px; margin-bottom: 5px; }
.block-auth-1 { color: #baceb3; font-size: 15px; margin-bottom: 5px; }
.block-uploader-2 { color: #155f98; font-size: 16px; margin-bottom: 5px; }
.block-shipping-3 { color: #cf106e; font-size: 16px; margin-bottom: 5px; }
.block-payment-4 { color: #7a0bc1; font-size: 13px; margin-bottom: 5px; }
.block-order-5 { color: #d9a358; font-size: 16px; margin-bottom: 5px; }
.block-shipping-6 { color: #55ec7c; font-size: 17px; margin-bottom: 5px; }
.block-shipping-7 { color: #1f8e3; font-size: 19px; margin-bottom: 5px; }
.block-user-8 { color: #d26c92; font-size: 20px; margin-bottom: 5px; }
.block-notify-9 { color: #3d3b3e; font-size: 15px; margin-bottom: 5px; }
.block-shipping-10 { color: #7cd6c7; font-size: 20px; margin-bottom: 5px; }